section{
    color: #26011C;
    padding-top: 15px;
    width:95%;
    margin: auto;
    text-align: justify;
    margin-top: 5px;


        p{
        margin: 16px 0;
        line-height: 150%;
        }

    
}